
div.ext-helper-status{
	position:relative;
}
div.ext-helper-status-container{
	position:absolute;
	z-index:1;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	border:1px solid #000;
	border-radius:8px;
	padding:5px;
}

div #discardedItems{
	background-color:#fff6f6;
}
div#ext-helper-grid-header{
	display:block;
	font-weight:bold;
}
div#ext-helper-grid-header:hover{
	cursor:pointer;
}
span#ext-helper-grid-count{
	padding-left:7px;
}
div#ext-helper-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(236px,auto));
}
div#ext-helper-grid .vvp-item-tile {
	border: 1px solid #ddd;
	margin-top: -1px;
	margin-left: -1px;
}
div#ext-helper-grid .vvp-item-tile .vvp-item-tile-content {
	width: 210px;
	margin: 0 auto;
}

div#ext-helper-grid .vvp-item-tile .vvp-item-tile-content > .vvp-item-product-title-container {
	height: 60px;
}

div#ext-helper-grid .vvp-item-tile .vvp-item-tile-content > * {
	width: 100%;
	margin: 20px 0;
}

div#ext-helper-grid .vvp-item-tile .vvp-item-tile-content > * {
	width: 100%;
	margin: 20px 0;
}



div.ext-helper-status-container div.ext-helper-status-container2, div.ext-helper-info-container span{
	display:block;
	padding-left:35px;
	font-weight:bold;
	font-size:10px;
}


div.compact div.ext-helper-status-container{
	margin-top:10px;
	padding:2px;
	position:relative;
}

div.compact div.ext-helper-status-container2{
	padding-left:0px;
	text-align:center;
}
div.compact div.ext-helper-icon{
	display:none;
}
div.ext-helper-background-nofees div.ext-helper-status-container{
	background-color:#99ff99;
}
div.ext-helper-background-fees div.ext-helper-status-container{
	background-color:#ff9999;
}


a.ext-helper-hide-link div.ext-helper-toolbar-icon{
	float:right;
	display:block;
	width:12px;
	height:12px;
}



div.ext-helper-icon{
	float:left;
	width:30px;
	height:30px;
	background-position: 0px 0px;
}

div.ext-helper-icon-mini{
	display:inline-block;
	width:16px;
	height:16px;
	background-position: -16px 0px;
}

.ext-helper-reportlink-bad {
	color: #CC0000 !important;
}
.ext-helper-reportlink-good {
	color: #33CC33 !important;
}

a.selectedVote{
	border:1px solid #666;
	border-radius:4px;
	padding:2px;
	background-color:#EEE;
}



/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
	div.ext-helper-icon-sad, div.ext-helper-icon-no{
		background-size: 200%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/rating-bad.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-happy, div.ext-helper-icon-yes{
		background-size: 200%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/rating-good.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-info{
		background-size: 100%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/info.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-show{
		background-size: 100%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/show.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-hide{
		background-size: 100%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/hide.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-loading{
		background-size: 100%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/loading.gif");
		background-repeat:no-repeat;
	}
}

@supports (-moz-appearance:none) {
	div.ext-helper-icon-sad, div.ext-helper-icon-no{
		background-size: 200%;
		background-image: url("/images/rating-bad.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-happy, div.ext-helper-icon-yes{
		background-size: 200%;
		background-image: url("/images/rating-good.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-info{
		background-size: 100%;
		background-image: url("/images/info.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-show{
		background-size: 100%;
		background-image: url("/images/show.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-hide{
		background-size: 100%;
		background-image: url("/images/hide.png");
		background-repeat:no-repeat;
	}
	div.ext-helper-icon-loading{
		background-size: 100%;
		background-image: url("/images/loading.gif");
		background-repeat:no-repeat;
	}
}

div.ext-helper-info-container{
	border: 1px solid #000;
	background-color:#CCC
	margin:10px;
	padding:10px;
	font-weight:bold;
	font-size:10px;
}