
div.ext-helper-status{
	position:relative;
}
div.ext-helper-status-container{
	position:absolute;
	z-index:1;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	border:1px solid #000;
	padding:5px;
}
div.ext-helper-status-container span{
	display:block;
	padding-left:35px;
	font-weight:bold;
	font-size:10px;
}
div.ext-helper-icon-yes{
	position:absolute;
	width:30px;
	height:30px;
	background-size: 200%;
	background-image: url("moz-extension://5951bf9a-25ae-4043-9fa2-54dc0ac1ce70/images/rating-bad.png");
	background-repeat:no-repeat;
}
div.ext-helper-icon-no{
	float:left;
	width:30px;
	height:30px;
	background-size: 200%;
	background-image: url("moz-extension://5951bf9a-25ae-4043-9fa2-54dc0ac1ce70/images/rating-good.png");
	background-repeat:no-repeat;
}
