:root {
	--background-light: hsla(0, 0%, 98%, 1);
	--background-dark: hsla(0, 0%, 20%, 1);
	--text-light: hsla(0, 0%, 20%, 1);
	--text-dark: hsla(0, 0%, 98%, 0.8);
	--link-light: hsla(165, 100%, 20%, 1);
	--link-dark: hsla(165, 100%, 65%, 1);
	--border-light: hsla(165, 100%, 20%, 1);
	--border-dark: hsla(0, 0%, 98%, 0.8);
	--button-dark: hsla(165, 100%, 20%, 1);
	--border-free: #ffd700;
	--container-light: rgb(136, 213, 162);
}
