/* Grid */
div.vh-grid,
#vvp-items-grid,
#tab-unavailable,
#tab-hidden {
	display: grid;
	border: 1px solid #ccc;
	grid-template-columns: repeat(auto-fill, minmax(236px, auto));
	padding: 1px;
}

#vvp-items-grid .vvp-item-tile,
#tab-unavailable .vvp-item-tile,
#tab-hidden .vvp-item-tile {
	margin-top: -1px;
	margin-left: -1px;
	display: flex;
}

div.vh-grid .vvp-item-tile {
	border: 1px solid #ddd;
	margin-top: -1px;
	margin-left: -1px;
}

#vvp-items-grid.tab-grid .vvp-item-tile .vvp-item-tile-content,
div.tab-grid .vvp-item-tile .vvp-item-tile-content,
div.vh-grid .vvp-item-tile .vvp-item-tile-content {
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.vvp-item-tile {
	margin-bottom: 20px;
}

#vvp-items-grid-container .vvp-item-tile a,
#vvp-items-grid-container .vvp-item-tile a:visited,
#vvp-items-grid-container .vvp-item-tile a:active {
	color: var(--item-link-light);
}

body.darktheme #vvp-items-grid-container .vvp-item-tile a,
body.darktheme #vvp-items-grid-container .vvp-item-tile a:visited,
body.darktheme #vvp-items-grid-container .vvp-item-tile a:active {
	color: var(--item-link-dark);
}

body.darktheme .vh-btn-variants-count {
	color: black; /* the element's color gets inverted in dark theme */
}

#vvp-items-grid.listview {
	grid-template-columns: auto !important;
}

.vh-listview .vvp-details-btn {
	width: 150px !important;
}
