.vh_flex_column {
	display: grid;
	flex: 1 1 auto;
}
.vh_flex_column div {
	text-align: center;
}

#review-toolbar {
	display: flex;
	width: 100%;
}

.vh_visible_container h1,
.vh_visible_container h2,
.vh_visible_container h3,
.vh_visible_container h4,
.vh_visible_container h5 {
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
}

/* Infinite Wheel fix animation */
div.vh-healing {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	z-index: 1200;
}

div.vh-healing div {
	height: 400px;
}

div#vh-healing-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1201;

	width: 500px;
	height: 50px;
	background-color: #fff;
	border: 5px solid #cfc;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

/* Icons overlay on top of product image */
.vh-img-container {
	position: relative;
}
.vh-variant-indicator-container {
	position: absolute;
	margin-top: -20px;
	right: 0;
}
.vh-indicator-icon {
	width: 16px;
	height: 16px;
}

.vh-date-added {
	position: absolute;
	margin-top: -14px;
	left: 0;
	height: 14px;
	line-height: 10px;
	padding: 2px;
	font-size: 10px;
	text-shadow: 0px 0px 1px #fff;
	background-color: rgba(255, 255, 255, 0.5);
	color: #0f1111;
}

.vvp-container-right-align {
	flex-flow: row wrap;
}
div#bookmark {
	margin-top: 10px;
	flex-basis: 100%;
	text-align: right;
}

button.bookmark {
	margin-left: 5px;
	display: inline-block;
	border-radius: 8px;
	color: #0f1111;
	border: 1px solid #6c6e73;
	line-height: 16px;
	padding: 5px 8px 5px 16px;
	vertical-align: top;
	background-size: 16px;
	background-position-x: 5px;
	background-position-y: center;
	font-size: 13px;
	background-color: var(--background-light, lightgreen);
}

/* Add visual cues for the keybinding */
a.vh-hideall span,
a.vh-showall span,
.vh-pagination-previous {
	display: inline-block;
}

ul.a-pagination li:first-child a span:last-child::first-letter,
ul.a-pagination li:last-child a::first-letter,
a.vh-hideall span::first-letter,
a.vh-showall span::first-letter {
	text-decoration: underline;
}
