#tabs {
	display: flex;
	height: 50px;
	flex-direction: column-reverse;
	border: 0px;
}

#tabs > ul {
	padding-left: 0px;
	margin: 0px;
	z-index: 1;
}

#tabs > ul > li {
	list-style: none;
	float: left;
	border: 2px solid var(--button-dark, white);
	min-width: 30px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 3px;
	padding: 4px 10px;
	cursor: pointer;

	background: var(--button-overlay), var(--tab-background);
}

body.darktheme #tabs > ul > li {
	border: 2px solid var(--button-light, black);
}

#tabs > ul > li.active {
	border: 2px solid var(--tab-active-background, green);
	background: linear-gradient(
		to bottom,
		var(--tab-active-background, lightgreen),
		var(--tab-active-background, lightgreen)
	);
}

#tabs > ul > li > a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

#tabs > ul > li.active > a {
	color: var(--text-dark, #fff);
}
