#tabs {
	display: flex;
	height: 50px;
	flex-direction: column-reverse;
	border: 0px;
}

#tabs > ul {
	padding-left: 0px;
	margin: 0px;
	z-index: 1;
}

#tabs > ul > li {
	list-style: none;
	float: left;
	border: 2px solid var(--button-dark, aliceblue);
	min-width: 30px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 3px;
	padding: 4px 10px;
	cursor: pointer;
	background-color: var(--background-light, lightgreen);
	background-image: radial-gradient(
		circle farthest-side at 10% 20%,
		rgba(255, 255, 255, 0.3) 0%,
		rgba(255, 255, 255, 0) 80%
	);
}

#tabs > ul > li.active {
	border: 2px solid var(--background-mild, green);
	background: linear-gradient(to bottom, var(--background-mild, lightgreen), var(--background-mild, lightgreen));
}

#tabs > ul > li > a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

#tabs > ul > li.active > a {
	color: var(--text-dark, #fff);
}
