#tabs {
	display: flex;
	height: 50px;
	flex-direction: column-reverse;
	border: 0px;
}

#tabs > ul {
	padding-left: 0px;
	margin: 0px;
	z-index: 1;
}

#tabs > ul > li {
	list-style: none;
	float: left;
	border: 1px solid var(--button-dark, aliceblue);
	min-width: 30px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 3px;
	padding: 4px 10px;
	cursor: pointer;
	background: linear-gradient(to bottom, var(--button-dark, green), var(--button-light, lightgreen));
}

#tabs > ul > li.active {
	border: 1px solid var(--button-light, green);
	background: linear-gradient(to bottom, var(--container-light, lightgreen), var(--container-light, lightgreen));
}

#tabs > ul > li > a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}
