/*
begin, migrating css into a common file, to allow uniform display and updates
*/
:root {
	--white-100: hsla(0, 0%, 100%, 1);
	--white-200: hsla(0, 0%, 95%, 1);
	--black-800: hsla(0, 0%, 18%, 1);
	--black-900: hsla(0, 0%, 0%, 1);
	--lightgreen-100: hsla(165, 100%, 65%, 1);
	--lightgreen-300: hsla(165, 68%, 54%, 1);
	--lightgreen-600: hsla(165, 64%, 43%, 1);
	--darkgreen-100: hsla(165, 68%, 37%, 1);
	--darkgreen-300: hsla(165, 75%, 32%, 1);
	--darkgreen-600: hsla(165, 100%, 20%, 1);
	--background-light: var(--white-200);
	--background-dark: var(--black-800);
	--text-light: var(--black-800);
	--text-dark: var(--white-200);
	--link-light: var(--darkgreen-300);
	--link-dark: var(--lightgreen-300);
	--border-light: var(--darkgreen-600);
	--border-dark: var(--lightgreen-600);
	--button: var(--darkgreen-300);
	--button-overlay: radial-gradient(
		circle farthest-side at 10% 20%,
		rgba(255, 255, 255, 0.3) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	--button-text: var(--text-dark);
	--border-free: #ffd700;
	--highlight-light: var(--darkgreen-100);
	--highlight-dark: var(--lightgreen-100);
}

.vinehelper body {
	color: var(--text-light);
	font-family: Arial, sans-serif;
	margin: 20px;
	transition: background-color 0.5s, color 0.5s;
	background-image: url("/resource/image/logo.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 150px 150px;
}

.vinehelper table {
	border-collapse: collapse;
	margin: 20px;
}

.vinehelper main {
	display: flex;
	flex-direction: column;
}

.vinehelper section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.vinehelper textarea {
	min-height: 130px;
	resize: vertical;
}

.vinehelper label {
	display: block;
	margin-bottom: 5px;
	align-self: center;
}

.vinehelper input[type="text"],
.vinehelper textarea {
	min-width: 300px;
	max-width: 800px;
	width: 100%;
	background-color: transparent;
	color: var(--text-light, #f9f9f9);
	border: 1px solid var(--border-light, #f9f9f9);
	border-radius: 5px;
	padding: 0.5em;
	transition: border-color 0.3s ease-in-out;
	box-shadow: 1px 1px 3px var(--highlight-light);
}

.vinehelper input[type="text"]:focus,
.vinehelper textarea:focus {
	outline: 2px solid var(--highlight-light);
	border: 1px solid var(--highlight-light);
}

.vinehelper td,
.vinehelper th {
	border: 1px solid;
	border-color: var(--border-light, #dedede);
	padding: 5px;
	text-align: left;
	color: var(--text-light);
}

button.vinehelper,
.vinehelper button {
	text-decoration: none;
	font-weight: 500;
	background-color: var(--button);
	border: none;
	color: var(--button-text);
	padding: 10px 15px;
	border-radius: 5px;
	background-image: var(--button-overlay);
	box-shadow: 1px 1px 3px var(--link-light);
}

.vertical-divider {
	height: 1em;
	margin: 5px 0;
	border: 0;
	border-left: 1px solid var(--divider-color, lightgray);
}

label.vinehelper,
a.vinehelper {
	font-size: 14px;
	margin-right: 5px;
}

select.vinehelper {
	padding: 8px 12px;
	font-size: 14px;
	margin: 0 5px;
	border: 1px solid var(--button);
	border-radius: 4px;
	appearance: none;
	max-width: 300px;
}

.vinehelper#review-toolbar {
	margin: 10px;
	padding: 5px;
	border: 3px solid var(--border-light);
	border-radius: 5px;
	background-color: var(--background-mild);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.vinehelper button:hover {
	background-color: var(--button, green);
}

.vinehelper#insertTemplate,
.vinehelper#saveReview {
	text-decoration: none;
	font-weight: 500;
	background-color: var(--button);
	border: none;
	color: var(--button-text);
	padding: 10px 15px;
	border-radius: 5px;
	background-image: var(--button-overlay);
	box-shadow: 1px 1px 3px var(--link-light);
}

.vinehelper#review_management h3 {
	margin: 10px;
	padding-top: 5px;
}

.vinehelper#review_management {
	background-color: var(--background-dark);
	border-radius: 5px;
	margin: 10px;
	color: var(--text-dark);
}

.vinehelper button:active,
.button_link:active {
	transform: translateY(2px);
}

#manage_link,
#template_link {
	color: var(--text-dark);
}

@media (prefers-color-scheme: dark) {
	.vinehelper body {
		background-color: var(--background-dark, #333);
		color: var(--text-dark, #f9f9f9);
	}

	.vinehelper button {
		box-shadow: 1px 1px 2px var(--highlight-dark);
	}

	.vinehelper input[type="text"],
	.vinehelper textarea {
		color: var(--text-dark, #f9f9f9);
		border: 1px solid var(--border-dark, #f9f9f9);
		transition: unset;
		box-shadow: 1px 1px 3px var(--highlight-dark);
	}

	.vinehelper input[type="text"]:focus,
	.vinehelper textarea:focus {
		outline: 2px solid var(--highlight-dark);
		border: 1px solid var(--highlight-dark);
	}

	.vinehelper td,
	.vinehelper th {
		border: 1px solid;
		border-color: var(--border-dark, #f9f9f9);
		color: var(--text-dark);
	}
}
