:root {
	--background-light: hsla(0, 0%, 98%, 1);
	--text-light: hsla(0, 0%, 20%, 1);
	--background-dark: hsla(0, 0%, 20%, 1);
	--text-dark: hsla(0, 0%, 98%, 0.8);
	--link-dark: hsla(165, 100%, 70%, 1);
	--border-light: hsla(0, 0%, 20%, 1);
	--border-dark: hsla(0, 0%, 87%, 1);
	--border-free: #ffd700;
}

#vh-items-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

#vh-items-container .vh-notification-box {
	padding: 5px;
	border: 1px solid var(--border-light, #333);
	width: 300px;
	display: grid;
	grid-template-rows: 0 1fr auto;
	flex: 1 1 auto;
}

#vh-items-container .vh-notification-content {
	width: 94%;
}

#vh-items-container .vh-notification-content img {
	float: left;
	width: 100;
	height: 100;
	margin-right: 5;
}

#vh-items-container .vh-notification-footer {
	width: 100%;
	overflow: hidden;
}

#vh-items-container .vh-toolbar-large-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}


.etv_value {
	float: left;
}

.date_shown {
	float: right;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-dark, #333);
		color: var(--text-dark, hsl(51, 100%, 50%));
	}

	a {
		color: var(--link-dark, #f9f9f9);
		display: contents;
	}

	.vh-notification-box {
		border-color: var(--border-dark, #f9f9f9);
	}

	.vh-icon-search {
		filter: invert(1);
	}
}

@media only screen and (max-width: 600px) {
	.vh-notification-box {
		width: 100%;
	}
}
