body {
	color: var(--text-light);
	font-family: Arial, sans-serif;
	margin: 20px;
	transition: background-color 0.5s, color 0.5s;
}

#templates_list {
	border-collapse: collapse;
	margin: 20px;
}

#new_template_form {
	width: 80%;
}
#template_content {
	height: 130px;
	resize: vertical;
}

input[type="text"].vh,
textarea.vh {
	background-color: transparent;
	color: var(--text-light, #f9f9f9);
	border: 1px solid var(--border-light, #f9f9f9);
	transition: border-color 0.3s ease-in-out;
}

input[type="text"].vh:focus,
textarea.vh:focus {
	outline: 2px solid var(--link-light);
	border: 1px solid var(--link-dark);
}

td,
th {
	border: 1px solid;
	border-color: var(--border-light, #dedede);
	padding: 5px;
	text-align: left;
	color: var(--text-light);
}

button.vh {
	background-color: var(--button-light, green);
	padding: 10px 15px;
	border: 1px solid var(--button-dark, aliceblue);
	cursor: pointer;
	border-radius: 5px;
	background: linear-gradient(
		to bottom,
		var(--button-dark, green),
		var(--button-light, lightgreen)
	);
	color: var(--text-light, #eee);
	font-weight: 600;
}
button.vh:hover {
	background-color: var(--button-dark, green);
}

button.vh:active {
	transform: translateY(2px);
}

#new_Template {
	margin-bottom: 10px;
}

input[type="text"].vh,
textarea.vh {
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid var(--border-light, #333);
	border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-dark, #333);
		color: var(--text-dark, #f9f9f9);
	}

	button.vh {
		background-color: var(--button-light, green);
		background: linear-gradient(
			to bottom,
			var(--button-light, lightgreen),
			var(--button-dark, green)
		);
	}

	input[type="text"].vh,
	textarea.vh {
		color: var(--text-dark, #f9f9f9);
		border: 1px solid var(--border-dark, #f9f9f9);
		transition: unset;
	}

	input[type="text"].vh:focus,
	textarea.vh:focus {
		outline: 2px solid var(--link-dark);
		border: 1px solid var(--link-light);
	}

	td,
	th {
		border: 1px solid;
		border-color: var(--border-dark, #f9f9f9);
		color: var(--text-dark);
	}
}
