{{if overlay}}
<div id="overlay-{{$id}}" class="overlay"></div>
{{endif}}

<div id="modal-{{$id}}" class="modal" style="{{$style}}">
	<div class="modal-header-logo-top vh-logo-vh"></div>
	<div class="modal-container">
		<div class="modal-header-logo-bottom vh-logo-vh">
			<span class="title">{{$title}}</span>
			<div class="close-btn">
				<button class="modal-ok">X</button>
			</div>
		</div>
		<div class="content">{{$content}}</div>
		<div class="footer">
			<button class="modal-ok">Close</button>
		</div>
	</div>
</div>
