<div id="ext-helper-notification-{{$id}}" class="ext-helper-notification-box">

		<div class="ext-helper-notification-toolbar"><a
			href="{{$base_url}}/vine/vine-items?search={{$search}}"
			target="_blank"
		>
			<div
				class="ext-helper-toolbar-large-icon ext-helper-icon-search"
				style="float: right"
			></div
		></a></div>
		<div class="ext-helper-notification-content">
			<img
				src="{{$img_url}}"
			/>
			<a href="{{$base_url}}/dp/{{$asin}}" target="_blank"
				>{{$description}}</a
			>
		</div>
	<div class="ext-helper-notification-footer">{{$date}}</div>
	<div style="clear: both"></div>
</div>
