<div style="margin: 0px" id="vh-notifications-monitor-header">
	<div class="vh-icon-32 vh-icon-vh" style="float: left; margin-right: 10px"></div>
	<h3>Notification Monitor</h3>
	<div style="display: flex; clear: both">
		<div style="width: 150px; margin-bottom: 15px">
			<strong>Loaded on: </strong>
			<br /><span id="date_loaded"></span> <br /><strong>Most recent item: </strong> <br /><span
				id="date_most_recent_item"
				>(tba)</span
			>
		</div>
		<div style="width: 200px">
			<div class="notice" id="statusSW" style="display: flex">
				<div class="vh-switch-32 vh-icon-switch-off" style="margin-right: 10px"></div>
				<div>Service Worker:</div>
			</div>
			<div id="descriptionSW"></div>
			<div class="notice" id="statusWS" style="display: flex">
				<div class="vh-switch-32 vh-icon-switch-off" style="margin-right: 10px"></div>
				<div>Websocket Server:</div>
			</div>
			<div id="descriptionWS"></div>
		</div>
	</div>
	<div>
		<div style="float: left">
			<label for="clear-monitor" style="float: left">
				<input type="button" name="clear-monitor" id="clear-monitor" value="Clear All" />
			</label>
			<label for="fetch-last-100" style="float: left">
				<input type="button" name="fetch-last-100" id="fetch-last-100" value="Fetch last {{$fetchLimit}}" />
			</label>
			<label for="pauseFeed" style="float: left">
				<input type="button" name="pauseFeed" id="pauseFeed" value="Pause & Buffer Feed" />
			</label>
			<label for="auto-truncate" style="float: left; margin-left: 10px">
				<input type="checkbox" name="auto-truncate" id="auto-truncate" checked />
				<span>Auto truncate after </span>
				<select name="auto-truncate-limit" id="auto-truncate-limit">
					<option value="1000">1000</option>
					<option value="2000">2000</option>
					<option value="3000">3000</option>
					<option value="4000">4000</option>
					<option value="5000">5000</option>
				</select>
				<span> items.</span>
			</label>
		</div>
		<div style="float: right">
			<div style="display: flex; align-items: right">
				<label for="filter-queue" style="margin-right: 10px">
					Filter by:
					<select name="filter-queue">
						<option value="-1">Show all queues</option>
						<option value="last_chance">AFA</option>
						<option value="encore">AI</option>
					</select>
					<select name="filter-type">
						<option value="-1">Show all notifications</option>
						<option value="0">Regular only</option>
						<option value="1">Zero ETV only</option>
						<option value="2">KW match only</option>
						<option value="9">Zero ETV or KW match only</option>
					</select>
				</label>

				<label for="sort-queue">
					Sort by:
					<select name="sort-queue">
						<option value="date">Date (new-old)</option>
						<option value="price">ETV (high-low)</option>
					</select>
				</label>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>

	<div id="fixed-toolbar" style="position: fixed; top: 10px; right: 10px; display: none; z-index: 1000">
		<label for="pauseFeed-fixed">
			<input type="button" name="pauseFeed-fixed" id="pauseFeed-fixed" value="Pause & Buffer Feed" />
		</label>
	</div>
</div>
