<div style="margin: 0px" id="vh-notifications-monitor-header">
	<div class="vh-icon-32 vh-icon-vh" style="float: left; margin-right: 10px"></div>
	<h3>Notification Monitor</h3>
	<div style="display: flex">
		<div style="width: 300px">
			<strong>Loaded on: </strong><span id="date_loaded"></span><br />
			<strong>Most recent item: </strong><span id="date_most_recent_item">(tba)</span><br />
		</div>
		<div>
			<div class="notice" id="statusSW">
				<table>
					<tr id="statusSW">
						<td width="36px"><div class="vh-switch-32 vh-icon-switch-off"></div></td>
						<td width="130px" style="font-weight: bold">Service Worker:</td>
						<td class="description"></td>
					</tr>
					<tr id="statusWS">
						<td width="36px"><div class="vh-switch-32 vh-icon-switch-off"></div></td>
						<td width="130px" style="font-weight: bold">Websocket Server:</td>
						<td class="description"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div>
		<div style="float: left">
			<label for="clear-monitor" style="float: left">
				<input type="button" name="clear-monitor" id="clear-monitor" value="Clear All" />
			</label>
			<label for="fetch-last-100" style="float: left">
				<input type="button" name="fetch-last-100" id="fetch-last-100" value="Fetch last 100" />
			</label>
			<label for="pauseFeed" style="float: left">
				<input type="button" name="pauseFeed" id="pauseFeed" value="Pause & Buffer Feed" />
			</label>
			<label for="auto-truncate" style="float: left; margin-left: 10px">
				<input type="checkbox" name="auto-truncate" id="auto-truncate" checked />
				<span>Auto truncate after 1000 items.</span>
			</label>
		</div>
		<div style="float: right">
			<label for="filter-queue" style="float: right; margin-right: 20px">
				Filter by:
				<select name="filter-queue">
					<option value="-1">Show all queues</option>
					<option value="last_chance">AFA</option>
					<option value="encore">AI</option>
				</select>
				<select name="filter-type">
					<option value="-1">Show all notifications</option>
					<option value="0">Regular only</option>
					<option value="1">Zero ETV only</option>
					<option value="2">KW match only</option>
					<option value="9">Zero ETV or KW match only</option>
				</select>
			</label>
		</div>
	</div>
	<div style="clear: both"></div>

	<div id="fixed-toolbar" style="position: fixed; top: 10px; right: 10px; display: none; z-index: 1000">
		<label for="pauseFeed-fixed">
			<input type="button" name="pauseFeed-fixed" id="pauseFeed-fixed" value="Pause & Buffer Feed" />
		</label>
	</div>
</div>
