<div
	id="vh-notification-{{$asin}}"
	data-asin="{{$asin}}"
	class="vh-notification-box"
	data-notification-type="{{$type}}"
>
	<div class="vh-notification-toolbar">
		<a href="{{$url}}" target="_blank">
			<div
				class="vh-toolbar-large-icon vh-icon-search"
				data-asin="{{$asin}}"
				data-queue="{{$queue}}"
				data-is-parent-asin="{{$is_parent_asin}}"
				data-enrollment-guid="{{$enrollment_guid}}"
				style="float: right"
			></div>
		</a>
		{{if announce}}
		<div style="clear: right"></div>
		<a
			href="#"
			id="vh-announce-link-{{$asin}}"
			class="vh-floating-icon vh-announce-link"
			title="Announce the product on discord! (The ETV must be known)"
		>
			<div
				class="vh-toolbar-large-icon vh-icon-announcement"
				data-asin="{{$asin}}"
				data-queue="{{$queue}}"
				style="float: right; margin-top: 10px"
			></div>
		</a>
		{{endif}}
		<div style="clear: right"></div>
		<a href="#" class="report-link">
			<div
				class="vh-toolbar-large-icon vh-icon-report"
				data-asin="{{$asin}}"
				style="float: right; margin-top: 20px"
			></div>
		</a>
	</div>
	<div class="vh-notification-content">
		<img src="{{$img_url}}" />
		<a href="https://www.amazon.{{$domain}}/dp/{{$asin}}" target="_blank">{{$description}}</a>
	</div>
	<div class="vh-notification-footer">
		<span class="etv_value">{{$etv}}</span><span class="date_shown">{{$date}}</span>
	</div>
	<div style="clear: both"></div>
</div>
