<div id="vh-pin-{{$id}}" class="vvp-item-tile pinned">
	<div class="vh-img-container">
		<img src="{{$img_url}}" />
	</div>
	<div class="vvp-item-tile-content vh-status compact">
		<div class="vh-status-container" style="height: 20px">
			<div class="vh-status-container2">
				<a href="#" class="vh-floating-icon vh-announce-link unpin-link" onclick="return false;">
					<div class="vh-toolbar-icon vh-icon-unpin" data-asin="{{$asin}}"></div>
				</a>
				<a
					href="https://amazon.{{$domain}}/vine/vine-items?search={{$search}}"
					class="vh-floating-icon"
					target="_blank"
				>
					<div
						class="vh-toolbar-icon vh-icon-search"
						data-is-parent-asin="{{$is_parent_asin}}"
						data-enrollment-guid="{{$enrollment_guid}}"
					></div>
				</a>
			</div>
		</div>
		<a href="https://amazon.{{$domain}}/dp/{{$asin}}" class="a-link-normal" target="_blank">{{$description}}</a>
	</div>
</div>
