<strong>Version {{$appVersion}} change notes:</strong>
<br />
<br />- NEW! Bookmark feature, to highlight new items.
<br />- NEW! Remote save your hidden items, to use accross multiple devices.
<br />- NEW! The ETV value is formatted according to your country.
<br />- NEW! New caching system for faster page loading time.
<br />- FIX: Hidding lots of items could make them stuck at 20% height.
<br />- FIX: Options not accessible in Kiwi browser.
<br />- FIX: "First seen" showing wrong data in timezones that were not mine.
<br />- FIX: Tooltip icons were no longer showing in the options page.
<br />- FIX: Error "Failed to load resource: the server responded with a status of 404 ()"
<br />
<br />- Note: The mobile browser <strong>Kiwi</strong> for android support Vine Helper.
<br />
<br /><em>This message will self destruct after its closure.</em>