<h3>Privacy Notice: Your Data and GDPR Compliance</h3>

<p>
	VineHelper care about your privacy and want you to understand how your personal data is handled when you use the
	extension. By continuing to use Vine Helper, you consent to the collection and processing of your personal data as
	described in this Privacy Notice and
	<a href="https://vinehelper.ovh/privacy.html">privacy policy</a>.
</p>

<h3>What data do we collect?</h3>

<p>
	VineHelper do <strong>NOT</strong> collect personal data such as your name, email address, contact information,
	account information or cookies.
</p>

<p>
	VineHelper <strong>do collect</strong> browsing activity on Amazon Vine (not Amazon as a whole) when you interact
	with our application.
</p>

<h3>How do we use your data?</h3>

<p>
	We assign your installation of VineHelper a UUID, a unique code, which allow to distinguish you as an individual
	user, while protecting your identify and privacy. We use this UUID to make some features of the extension work. For
	example: being able to share hidden products between devices, avoiding duplicate votes, etc.
</p>
<p>
	While your UUID does not expire, data such as votes, order attempts, and product info you may submit to our server
	are automatically purged after 90 days.
</p>
<p>
	For security reasons, IP addresses are collected and stored on our server. Anonymous hardware fingerprints are
	collected and stored on our server; they do not contain any data.
</p>

<h3>Your rights</h3>

<p>You have the right to delete your personal data. Please contact us if you wish to exercise any of these rights.</p>

<h3>Data security</h3>

<p>We take the security of your data seriously. But keep in mind this is an amateur project with limited resources.</p>
<h3>Third-party disclosure</h3>

<p>We will not share your UUID with anyone, unless legally mandated to do so by law.</p>
<p>We may share collected data (excluding UUID) to other projects.</p>

<h3>Cookies and tracking</h3>

<p>
	VineHelper does not use, or access, cookies. VineHelper does keep track of your purchases for the purpose of making
	the order system count works.
</p>

<h3>Updates to this Privacy Notice</h3>

<p>
	We may update this Privacy Notice to reflect changes in our data processing practices. We encourage you to review
	this Notice periodically for any updates.
</p>
<p>
	<strong>
		By using VineHelper, you agree to the terms of this Privacy Notice and privacy policy and consent to the
		processing of your personal data as described.
	</strong>
</p>
<p>
	If you have any questions or concerns about our data processing practices, please contact me at [fmaz008@gmail.com].
	- Francois :)
</p>
