<br />
<span style="color: #ff3333">WARNING:</span> <u>Upgrading</u> to Vine Helper 3.5.0 requires a
<strong><u>reload of ALL VINE RELATED TABS</u></strong
>, incuding the notification monitor(s). <br /><br />Failure to do so will likely lead to a loss of all locally stored
hidden and pinned items. (If you have already done so, or are performing a fresh installation, you can ignore this
warning.)
<br />
<br /><strong>Version {{$appVersion}} change notes:</strong>
<br />
The notification monitor has a new (optional) way of displaying the items to prevent items from shifting position during
drops.
<br />
<br />
<br />
<h2>Change log:</h2>
<h3>General:</h3>
<ul>
	<li><span style="color: #ff3333">FIX:</span> Exporting local hidden items would export pinned items</li>
	<li>
		<span style="color: #ff3333">FIX:</span> Firefox context menu would not add keywords to their respective list.
	</li>
	<li>
		<span style="color: #ff3333">FIX:</span> Multiple connections to the websocket server could be opened at the
		same time, causing duplicate on screen (toaster) notifications.
	</li>
	<li><span style="color: #ff3333">FIX:</span> Backward support for Firefox pre-121.</li>
	<li><span style="color: #ff3333">FIX:</span> Search bar too wide when using mobile stylesheets.</li>
	<li><span style="color: #ff3333">FIX:</span> Ignore single letter words when clicking the search icons.</li>
	<li><span style="color: #ff3333">FIX:</span> Format correction for local storage of hidden and pinned items.</li>
</ul>
<br />
<h3>Notification Monitor:</h3>
<ul>
	<li>
		<span style="color: #0066ff">NEW:</span> <strong>Placeholders</strong>. Placeholders are used to prevent new
		items from shifting the entire grid of items everytime something is added. With placeholders, items keep their
		horizontal placement in the grid, making it easier to browse.
		<br />
		<br />Note: Placeholders are not "hidding" items.
		<table>
			<tbody>
				<tr>
					<td>Classic Grid</td>
					<td>No Shift Grid</td>
				</tr>
				<tr>
					<td>
						<figure class="image" style="margin: 0">
							<img src="http://vine-wiki.com/vinehelper/notifications/classic-grid.gif" />
							<figcaption>Notice how ALL the items move when a new item is added</figcaption>
						</figure>
					</td>
					<td>
						<figure class="image" style="margin: 0">
							<img src="http://vine-wiki.com/vinehelper/notifications/no-shift-grid.gif" />
							<figcaption>Notice how ALL the items stay in place when a new item is added</figcaption>
						</figure>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		If you don't like the new grid, you can disable it under VH's settings: Notifications tab > Notification
		monitor: Display placeholders to keep items from shifting.
	</li>
	<li>
		<span style="color: #0066ff">NEW:</span> Option to <strong>ignore unknown/0ETV coloring</strong> if the item
		match with a highlight keyword.
	</li>
	<li>
		<span style="color: #ff9900">CHANGE:</span> <strong>Auto-Load</strong> default mode is silent on new installs.
	</li>
</ul>
<br />
<h3>Premium feature(s):</h3>
<ul>
	<li>N/A</li>
</ul>
<br />

<div class="support-links">
	<div>
		<a href="https://www.patreon.com/VineHelper" class="patreon-link" target="_blank">VineHelper's Patreon</a>
	</div>
	<div>
		<form action="https://www.paypal.com/donate" method="post" target="_blank">
			<input type="hidden" name="hosted_button_id" value="MMS5MYRDRALBG" />
			<input
				type="image"
				src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
				border="0"
				name="submit"
				title="PayPal - The safer, easier way to pay online!"
				alt="Donate with PayPal button"
			/>
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</div>
</div>
