<strong>You casted your first vote!</strong><br />
<br />We vote to mark items available or unavailable to order. (not if we like them or not) <br />We vote an item
unavailable to order (<strong>No</strong>) when it has: <br />- Shipping fees <br />- Importation fees <br />- When a
3rd party seller is selling the same item, but with a fee <br />- Any <strong>red error</strong> when trying to order an
item, <strong>except</strong> those caused by shipping restrictions.
<br />
<br />We vote an item available to order (<strong>Yes</strong>) when it has: <br />- Free shipping,
<strong>and</strong> <br />- no fees, <strong>and</strong> <br />- no 3rd party sellers with fees <br />-
<strong>OR</strong> when you actually order it successfully.
<br />
<br />Happy hunting!
