<strong>Version {{$appVersion}} change notes:</strong>
<br />
<ul>
	<li>NEW: Push notifications for AFA items.</li>
	<li>NEW: Notifications sound cooldown time.</li>
	<li>NEW: Added "VH Notification Monitor" on the vine pages' "contact us" menu.</li>
	<li>IMPROVED: Improved error catching when opening a See Details modal window.</li>
	<li>IMPROVED: Pinned tab displays the same as the other tabs.</li>
	<li>FIX: Push notifications searching for "undefined"</li>
	<li>FIX: Push notifications opening multiple tabs</li>
	<li>FIX: Open See Details modal (via search button) generated an error "tile does not exist".</li>
	<li>
		FIX: Inverse the color of the icons in the notifications monitor if the browser's darkmode/nightmode is used.
	</li>
	<li>FIX: Pinning an item from the Search generated an error as the queue was unknown (We now assume AI)</li>
	<li>CHANGE: Moved the instant notifications setting from the Experimental features to the Notification tabs.</li>
	<li>CHANGE: Instant notification is now the default selection for new installations.</li>
</ul>

<div style="text-align: center">
	<form action="https://www.paypal.com/donate" method="post" target="_blank">
		<input type="hidden" name="hosted_button_id" value="MMS5MYRDRALBG" />
		<input
			type="image"
			src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
			border="0"
			name="submit"
			title="PayPal - The safer, easier way to pay online!"
			alt="Donate with PayPal button"
		/>
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	</form>
</div>
