<div id="review-toolbar" class="vh_visible_container">
	<div class="vh_flex_column">
		<div>
			<div style="float: left">
				<strong>Insert template (<a href="{{$tpl_manage_url}}" target="_blank">Manage</a>):</strong>
				<br />
				<select name="template_name" id="template_name"></select>
			</div>
			<button id="insertTemplate" class="vh">Insert</button>
		</div>
	</div>
	<div class="vh_vertical_separator"></div>
	<div class="vh_flex_column">
		<div>
			<strong>Reviews (<a href="{{$review_manage_url}}" target="_blank">Manage</a>):</strong>
			<button id="saveReview" class="vh">Save review</button>
		</div>
	</div>
</div>
