<div id="review-toolbar" class="vh-container theme-default">
	<div class="vh-flex-column">
		<div class="vh-flex-row" id="left">
			<div>
				<strong>Insert template (<a href="{{$tpl_manage_url}}" target="_blank">Manage</a>):</strong>
				<br />
				<select name="template_name" id="template_name" class="vh-select"></select>
			</div>
			<div>
				<button id="insertTemplate" class="vh-button">Insert</button>
			</div>
		</div>
	</div>
	<div class="vh-flex-column">
		<div id="save-message">Review saved!</div>
		<div class="vh-flex-row" id="right">
			<strong>Reviews (<a href="{{$review_manage_url}}" target="_blank">Manage</a>):</strong>
			<button id="saveReview" class="vh-button">Save review</button>
		</div>
	</div>
</div>
