<div class="hidden-toolbar">
	All page items:<br />
	<a href="#" onclick="return false;" class="vh-hideall">
		<div class="vh-toolbar-icon vh-icon-hide {{$class}}"></div>
		<span>Hide</span>
	</a>
	/
	<a href="#" onclick="return false;" class="vh-hideallnext">
		<div class="vh-toolbar-icon vh-icon-hide {{$class}}"></div>
		<span>Hide + Next</span>
	</a>
	/
	<a href="#" onclick="return false;" class="vh-showall">
		<div class="vh-toolbar-icon vh-icon-show {{$class}}"></div>
		<span>Show</span>
	</a>
</div>
