.setting-summary {
	display: none;
	width: 0px;
}

.setting-container {
	margin: 0;
}

label {
	padding: 0;
}

#tabs-content .tab {
	width: 350px;
}

textarea {
	width: 250px;
}

body {
	width: 350px;
}
